<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"></head>
<body>

<nav th:replace="fragments/navbar"></nav>

<div class="container">
    <h3> Projects Directory </h3>
    <hr>
    <a th:href="@{/projects/new}"
       class="btn btn-primary btn-sm mb-3">
        New Project
    </a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Project Name</th>
                <th>Project Stage</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aProject : ${projects}">
                <td th:text="${aProject.name}"></td>
                <td th:text="${aProject.stage}"></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>